<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Je test fastify</title>
  </head>
  <body>
    <h1>Bonjour les gens</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi molestiae
      accusantium nostrum repellendus incidunt explicabo modi. Illum
      necessitatibus exercitationem iure vero obcaecati facilis mollitia, fuga
      dolore quia id saepe inventore.
    </p>
  </body>
</html>
