<%- include('./shared/header.ejs', { title: 'Apprendre Fastify shared' }) %>

<h1 class="text-3xl font-bold text-gray-800 my-5"><%= pageTitle || 'Titre par défaut' %></h1>
<h3 class="text-xl font-bold text-gray-800 my-5"> L'article n°<%= id %> est introuvable</h3>
<%- include('./shared/footer.ejs') %>
