<%- include('./shared/header.ejs', { title: 'Apprendre Fastify shared' }) %>

<h1><%= pageTitle || 'Titre par défaut' %></h1>
<% if (locals.posts && posts.length > 0) { %>
<div class="flex flex-wrap">
  <% for (const post of posts) { %> <%- include('./post.ejs', { post }) %> <% }
  %>
</div>
<% } else { %>
<p>Aucun post disponible.</p>
<% } %> <%- include('./shared/footer.ejs') %>
