<% include('./shared/header.ejs', { title: 'Apprendre Fastify' }) %>

<h1><%= pageTitle %></h1>
<% if (locals.posts) { %>
<ul>
  <% for (post of posts) { %>
  <li><%= post.title %>: <%= post.body %></li>
  <% } %> <% } %>
</ul>

<% include('./shared/footer.ejs') %>
 