<%- include('./shared/header.ejs', { title: 'Apprendre Fastify shared' }) %>

<h1 class="text-3xl font-bold text-gray-800 my-5"><%= pageTitle || 'Titre par défaut' %></h1>
<% if (locals.posts && posts.length > 0) { %>
<div class="grid grid-cols-3 gap-3">
  <% for (const post of posts) { %> <%- include('./post.ejs', { post }) %> <% }
  %>
</div>
<% } else { %>
<p>Aucun post disponible.</p>
<% } %> <%- include('./shared/footer.ejs') %>
