<div class="max-w-md border-2 border-gray-300 rounded-xl m-5 p-4">
    <h1 class="text-grey-900 font-bold text-xl"><%= post.title %></h1>
    <p class="text-grey-700"><%= post.content %></p>
</div>